[submodule "libs/rapidjson"]
	path = libs/rapidjson
	url = git@github.com:Tencent/rapidjson.git
[submodule "libs/beast"]
	path = libs/beast
	url = git@github.com:boostorg/beast.git
[submodule "libs/swss"]
	path = libs/swss
	url = git@github.com:eidheim/Simple-WebSocket-Server.git
[submodule "libs/pybind11"]
	path = libs/pybind11
	url = git@github.com:pybind/pybind11.git
